.pageHeader {
  height: 70px;
  padding: 10px 30px;
  background-color: #1c7ed6;
  position: sticky;
  overflow-anchor: none;
  top: 0;
  z-index: 1;
}

.pageHeader__container {
  display: flex;
  justify-content: space-between;
  align-self: center;
  margin: auto;
  max-width: 900px;
}

.logoImg {
  height: 40px;
  width: 40px;
}

.cart__cartImg {
  height: 40px;
  width: 35px;
}

.cart__link {
  padding: 10px;
}

.cart_spanPrice {
  position: relative;
  bottom: 12px;
  left: 80px;
  padding: 5px;
  font-size: 11px;
  border-radius: 35px;
  color: #fff;
  background-color: #000;
}

.cartBtnSpanText {
  font-size: 12px;
}
